/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 100%x;
    background-color: rgb(25, 4, 102);
    padding: 10px;
    margin: 0px auto;
   }
   #header{
    border-radius: 25px;
    background-color: rgb(241, 31, 31);
    display: box;
    height: 100px;
   }
   #navigation{
    display: box;
    height: 300px;
    width: 200px;
    float: left;
    padding: 20px;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 25px;
    font-size: 16;
    background-color: rgb(46, 155, 155);
    color:white;
   }
   #main_content{
    display: box;
    height: 400px auto;
    width: 900px;
    border-radius: 25px;
    background-color: black;
    color:white;
    position: relative;
    margin-top: 20px;
    margin-left: 250px;
    padding: 20px;
   }

   #footer{
       display: block;
    height: 50px;
   
    border-radius: 25px;
    background-color: gray;
    color:white;
    padding: 20px;

    position: relative;
    margin-top: 30px;

   }
   #main_header{
       
       margin-left: 50px;
       color: white;
       font-size: 22;
   }
#navList{
    margin-left: 40px;
}
#main_list{
    margin-left: 100px;
}
a{
    color: rgb(119, 240, 220);
}
   #sublist{

    list-style-type: circle;
    margin-left: 20px;


   }
   span {
       color:rgb(69, 69, 207);

   }
   .indentation{
     margin-left: 50;
    padding-left: 50px;
   }