/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;

   
}
#wrapper{
width: 100%x;
background: linear-gradient(rgb(58, 35, 56), rgb(104, 74, 90), rgb(58, 35, 56));

padding: 50px;
margin: 0px auto;
}

#header{
display: inline-block;
background-color: rgb(212, 203, 216);
width: 100%;
height: 50px;
margin-top: 0px;
padding-top: 20px;
}
  


#footer{

display: block;
height: 50px;
background-color: rgb(212, 203, 216);
color: black;
padding: 20px;
position: relative;
margin-top: 0px;
text-align: center;


}

   a{color:black;}
   #name{

    box-sizing: border-box;
    display: inline-block;
  
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 24;
       padding-left:10px;
       padding-right: 40px;
       position: relative;
       margin-left: 10px;

   }
   #shadows
   {
       position: absolute;
       right: 100px;
       box-sizing: border-box;
       display: inline-block;
       text-align: right;
        padding-left: 60px;
        margin-left: 200px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18;
   }

   #about{
   
    width: 50%;
    height: 400px;
    background:  linear-gradient(to right,rgb(255, 255, 255), rgb(230, 195, 195));
    color:black;  
    box-sizing: border-box;
    display: inline-block;
   margin-top: 10px;
   margin-left: 10px;
   margin-right:50px;
   box-sizing: border-box;
   position: absolute;
   right: 120px;
   vertical-align: top;

}
#pic
{
float: left;
height: 380px;
box-sizing: border-box;
margin-top: 10px;
margin-left: 10px;
margin-right:50px;
width: 30%;
height: 400px;
padding:10px;
border: 1 solid rgb(182, 176, 176);
background-color:  rgb(182, 176, 176);
display: inline-block;
position: relative;
vertical-align: top;
}

.titles{
    padding-top:10px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: linear-gradient(rgb(187, 176, 182), rgb(102, 96, 99), rgb(187, 176, 182));
    border:1 solid rgb(182, 176, 176);
    color: white;
    /*width:100%;*/

}



.frames{

    display: inline-block;
    width: 27%;
    height: 750px;

    background:  linear-gradient(to right,rgb(255, 255, 255), rgb(230, 195, 195));
    color:black;
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 10px;
    margin-right:90px;
    vertical-align: top;  
   }

 p{
     width: 90%;
     height: 100px;
     padding-left: 10px;
     padding-bottom: 30px;

 }

.bottom_padding{
    width: 100%;
    padding-bottom: 30px;
}
.icon{

    width:15%;
    height:40px;
    margin:5px;

}

.icon2{

    width: 10px;
    height: 10px;
    
}
.green_button{
    background-color: rgb(58, 94, 77);
    height: 20px;
    /* width: 150px; */
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    color:white;
    font-size: 15px;
    padding-top: 5px;
    /* float: bottom center; */
    /* margin-left: 100px; */
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#top{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 420px;
}
.img_box{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100px;
    margin-left:10px; 
    margin-bottom: 20px;

}